.profile_img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* Adjust the height as per your requirements */
}

.profile_img {
    max-width: 100%;
    max-height: 100%;
}